/* app css stylesheet */

.sel-width {
  height: 20px;
  width: 54px;
}
.angular-google-map-container {
  height: 400px;
}

/* fix for Twitter Bootstrap handling of responsive images */
.angular-google-map img {
  max-width: none;
}

.angular-google-map {
  padding: 20px;

}
.angular-google-map {
  display: block;
}

.marker-labels {
  color: red;
  background-color: white;
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  border: 1px solid black;
  white-space: nowrap;
}

