/* app css stylesheet */

.angular-google-map-container {
  height: 400px;
}

/* fix for Twitter Bootstrap handling of responsive images */
.angular-google-map img {
  max-width: none;
}

.angular-google-map {
  padding: 20px;

}
.angular-google-map {
  display: block;
}


